* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.text-orange {
    color: orange;
}

.bg-black {
    background-color: black;
}

#myApp div{
    text-align: center;
}