* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myApp {
    text-align: center;
}

.text-orange {
    color: orange;
}

.bg-black {
    background-color: black;
}

.on {
    display: inline-block;
}

.hidden {
    display: none;
}